<configuration scan="true">
    <property name="log.path" value="/data/logs/task-schedule" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/loginfo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/schedule.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--最长保留天数-->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] %d [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>